{% extends 'AppBundle:Site:site_layout.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
    {% block mainMenu %}
        {{ include('AppBundle:Site:site_main_menu_block.html.twig') }}
    {% endblock %}

    <div class="row">
        <div class="col-sm-3 blog-main">
            {% block leftContent %}
                {#{{ render(controller('AppBundle:Site/LeftContent:leftContent')) }}#}  {# Долго грузится страница #}
                {{ include('AppBundle:Site:site_left_block.html.twig') }}
            {% endblock %}
        </div>

        <div class="col-sm-6 blog-main">
            {% block mainContent %}
                {#{{ render(controller('AppBundle:Site/Content:content')) }}#}
                {{ include('AppBundle:Site:site_content_block.html.twig') }}
            {% endblock %}
        </div>

        <div class="col-sm-3 blog-main">
            {% block rightContent %}
                {#{{ render(controller('AppBundle:Site/RightContent:rightContent')) }}#}
                {{ include('AppBundle:Site:site_right_block.html.twig') }}
            {% endblock %}
        </div>
    </div>

    {% block footer %}
        {{ include('AppBundle:Site:site_footer_block.html.twig') }}
    {% endblock %}

    </div><!-- /container -->

    {% block scripts %}
        {{ parent() }}
    {% endblock %}

{% endblock %}