<!DOCTYPE html>
<html lang="{{ 'en' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{{ 'Site layout page' }}</title>
    <meta name="description" content="{{ 'text' }}">
    <meta name="Keywords" content="{{ 'text' }}">
    <meta name="robots" content="index, follow" />

    {% block head %}
        <!-- Bootstrap core CSS -->
        {% block styles %}
            {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" href="{{ asset('site/css/main-menu-style.css') }}" />
            <link rel="stylesheet" href="{{ asset('site/css/footer-style.css') }}" />
            <link rel="stylesheet" href="{{ asset('site/css/main-page-style3.css') }}" />
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}

    {% endblock %}
</head>

<body>

{% block facebook %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.9&appId=681135752071347";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block body %}

    {% block mainMenu %}
        {{ include('AppBundle:Site:site_main_menu_block.html.twig') }}
    {% endblock %}

    {% block footer %}
        <div class="footer-border"></div>
        {{ include('AppBundle:Site:site_footer_block.html.twig') }}
    {% endblock %}

    {% block scripts %}
        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

{% endblock %}
</body>
</html>