{% extends 'AppBundle:Site:site_main_page.html.twig' %}

{% block head %}

    {% block styles %}
        {{ parent() }}
        <!-- Custom styles for this template -->

    {% endblock %}

{% endblock %}

{% block body %}

    {% block mainMenu %}
        {{ parent() }}
    {% endblock %}

    <div class="container">

        <div class="row">

            <!-- start content column -->
            <div class="col-sm-8 blog-main">
                {% block articleContent %}
                    {{ include('AppBundle:Site:Article/article_content_block.html.twig') }}
                {% endblock %}

                {% block commentBlock %}
                    {{ include('AppBundle:Site:Article/article_comment_block.html.twig') }}
                {% endblock %}
            </div><!-- end content column -->

            <!-- start right column -->
            <div class="col-sm-3 blog-sidebar line-border">
                {% block rightBlock %}
                    {{ include('AppBundle:Site:Article/article_right_block.html.twig') }}
                {% endblock %}
            </div><!-- end right column -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block scripts %}
        {{  parent() }}
    {% endblock %}

{% endblock %}